extends layout

block content

  h1 #{title}

  form(method='POST')
    div.form-group
      label(for='name') 类别:
      - var mygenre = genre || {}
      input#name.form-control(type='text', placeholder='图书类别' name='name' required value=(undefined===genre ? '' : mygenre.name) )
    button.btn.btn-primary(type='submit') 提交

  if errors
    ol
      for error in errors
        li!= error.msg
